<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | StatusFeed</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      StatusFeed is an example app from this
      <a href="http://www.railstutorial.org/book">book</a>.
    </p>
  </body>
</html>
